logs/
.idea/
*__pycache__*
*.pyc

*target/

test/dbtvault_test/dbt_modules/
test/dbtvault_test/dbt_packages/
test/dbtvault_test/models/*.sql
test/dbtvault_test/data/temp/*
test/dbtvault_test/seeds/temp/*
test/dbtvault_test/models/schema_test.yml
test/backup_files/dbt_project.bak.yml

*.user.yml
*profiles.yml
*db.env
*invoke.yml

*.pytest_cache
/dbtvault-dev/dbt_modules/


test/dbtvault_test/seeds/vault_properties.yml
/env/templates/*_profile.yml
/env/templates/profile/*_profile.yml
/env/templates/db/*_db.env
/env/composed/*_profile.yml
/env/composed/*_db.env
/test/dbtvault_test/bigquery.json
