\.idea/

*/__pycache__/

src/dbtvault-dev/logs/

src/dbtvault-dev/target/

/venv/

profiles/.user.yml

*.pyc

/pycharm.env

tests/dbtvault_test/logs/

*.log
/tests/dbtvault_test/dbt_modules/

tests/dbtvault_test/target/
/invoke.yml

tests/features/csv_temp/*.csv
/tests/dbtvault_test/data/temp/*.csv
/tests/dbtvault_test/models/feature/*.sql
/tests/dbtvault_test/models/schema_test.yml

secrethub.env
