[submodule "src/dbtvault"]
	path = src/dbtvault
	url = https://github.com/Datavault-UK/dbtvault.git
[submodule "src/snowflakeDemo"]
	path = src/snowflakeDemo
	url = https://github.com/Datavault-UK/snowflakeDemo
