[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-clarity = "==0.3.0a0"
invoke = "*"
bump2version = "*"

[packages]
urllib3 = "==1.24.3"
requests = "==2.22.0"
behave = "==1.2.6"
pandas = "*"
boto3 = "==1.11.17"
mkdocs = "==1.1.2"
numpy = "==1.19.5"
mkdocs-material = "==5.2.1"
mkdocs-minify-plugin = "==0.2.3"
mkdocs-git-revision-date-localized-plugin = "*"
Pygments = "==2.6.1"
pymdown-extensions = "==7.1"
"ruamel.yaml" = "*"
dbt = "==0.20.0"

[requires]
python_version = "3.8"
