[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "~=1.4"
dbt-snowflake = "~=1.4"
dbt-bigquery = "~=1.4"
dbt-sqlserver = "==1.4.3"
dbt-databricks = "~=1.4"
dbt-postgres = "~=1.4"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-clarity = "==1.0.1"
invoke = "*"
environs = "*"
pexpect = "*"
behave = "==1.2.6"
"ruamel.yaml" = "*"

[requires]
python_version = "3.11"
