[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==1.5.*"
dbt-snowflake = "*"
#dbt-bigquery = "==1.5.7"
#dbt-sqlserver = "==1.4.3"
#dbt-databricks = "==1.5.6"
#dbt-postgres = "~=1.5"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-clarity = "==1.0.1"
invoke = "*"
environs = "*"
pexpect = "*"
behave = "==1.2.6"
"ruamel.yaml" = "*"
pandas = "*"
sqlalchemy = "*"

[requires]
python_version = "3.11"
