agate==1.6.1
asn1crypto==1.3.0
attrs==19.3.0
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
babel==2.8.0
behave==1.2.6
boto3==1.11.17
botocore==1.14.17
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configobj==5.0.6
cryptography==2.9
dbt-bigquery==0.16.1
dbt-core==0.16.1
dbt-postgres==0.16.1
dbt-redshift==0.16.1
dbt-snowflake==0.16.1
dbt==0.16.1
decorator==4.4.2
docutils==0.15.2
future==0.18.2
google-api-core==1.16.0
google-auth==1.14.0
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
hologram==0.0.6
idna==2.8
ijson==2.6.1
importlib-metadata==1.6.0
isodate==0.6.0
jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
json-rpc==1.13.0
jsonschema==3.1.1
leather==0.3.3
livereload==2.6.1
logbook==1.5.3
lunr[languages]==0.5.6
markdown==3.2.1
markupsafe==2.0.0a1
minimal-snowplow-tracker==0.0.2
mkdocs-material-extensions==1.0b1
mkdocs-material==5.1.0
mkdocs==1.1
more-itertools==8.2.0
networkx==2.4
nltk==3.5
numpy==1.18.2
oscrypto==1.2.0
packaging==20.3
pandas==1.0.3
parse-type==0.5.2
parse==1.15.0
parsedatetime==2.5
pluggy==0.13.1
protobuf==3.11.3
psycopg2-binary==2.8.5
py==1.8.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.9.7
pygments==2.6.1
pyhive==0.6.2
pyjwt==1.7.1
pymdown-extensions==7.0
pymysql==0.9.3
pyopenssl==19.1.0
pyparsing==3.0.0a1
pyrsistent==0.16.0
pytest-logbook==1.2.0
pytest==5.4.1
python-dateutil==2.8.1
python-slugify==4.0.0
pytimeparse==1.1.8
pytz==2019.3
pyyaml==5.3.1
regex==2020.4.4
requests==2.22.0
rsa==4.0
s3transfer==0.3.3
six==1.14.0
snowflake-connector-python==2.2.1
snowflake-sqlalchemy==1.2.2
sqlalchemy==1.3.15
sqlparse==0.3.1
text-unidecode==1.3
thrift==0.13.0
tornado==6.0.4
tqdm==4.45.0
typing-extensions==3.7.4.2
urllib3==1.24.3
wcwidth==0.1.9
werkzeug==0.16.1
zipp==3.1.0
# install from git
# vaultbase==0.2.9
