agate==1.6.1
asn1crypto==1.3.0
attrs==19.3.0
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.8.0
boto3==1.11.17
botocore==1.14.17
cachetools==4.1.1
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
dbt==0.17.0
dbt-bigquery==0.17.0
dbt-core==0.17.0
dbt-postgres==0.17.0
dbt-redshift==0.17.0
dbt-snowflake==0.17.0
decorator==4.4.2
docutils==0.15.2
google-api-core==1.16.0
google-auth==1.18.0
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-resumable-media==0.5.1
googleapis-common-protos==1.6.0
hologram==0.0.7
idna==2.8
ijson==2.6.1
importlib-metadata==1.7.0
isodate==0.6.0
Jinja2==2.11.2
jmespath==0.10.0
json-rpc==1.13.0
jsonschema==3.1.1
leather==0.3.3
Logbook==1.5.3
MarkupSafe==1.1.1
minimal-snowplow-tracker==0.0.2
networkx==2.4
oscrypto==1.2.0
parsedatetime==2.6
protobuf==3.11.3
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.9.8
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyrsistent==0.16.0
python-dateutil==2.8.1
python-slugify==4.0.1
pytimeparse==1.1.8
pytz==2020.1
PyYAML==5.3.1
requests==2.22.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
snowflake-connector-python==2.2.1
sqlparse==0.3.1
text-unidecode==1.3
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==0.16.1
zipp==3.1.0