trigger:
  batch: true
  branches:
    include:
      - develop
      - stage/*
    exclude:
      - feat/*

pool:
  vmImage: ubuntu-latest

variables:
  PIPELINE_BRANCH: $(Build.SourceBranchName)

resources:
  containers:
    - container: mssql
      image: mcr.microsoft.com/mssql/server:2019-latest
      ports:
        - 1433:1433
      options: --user 0
      env:
        ACCEPT_EULA: Y
        MSSQL_SA_PASSWORD: SlA7Qs3w!O
        MSSQL_PID: Developer

extends:
  template: templates/platform_template.yml
  parameters:
    platforms:
      - 'sqlserver'
      - 'snowflake'
      - 'bigquery'
    runConfig:
      - groupName: 'staging'
        displayName: 'Staging'
      - groupName: 'hubs'
        displayName: 'Hubs'
        subGroups: [ 'main', 'comp_pk', 'incremental', 'mat' ]
      - groupName: 'links'
        displayName: 'Links'
        subGroups: [ 'main', 'comp_pk', 'incremental', 'mat' ]
      - groupName: 't_links'
        displayName: 'Transactional Links'
        subGroups: [ 'main', 'comp_pk', 'incremental', 'mat' ]
      - groupName: 'sats'
        displayName: 'Satellites'
        subGroups: [ 'main', 'cycles', 'incremental', 'pm', 'rank' ]
      - groupName: 'eff_sats'
        displayName: 'Effectivity Satellites'
        subGroups: [ 'main', 'auto', 'disabled', 'mat' ]
      - groupName: 'ma_sats'
        displayName: 'Multi-Active Satellites'
        subGroups: [ '1cdk', '1cdk_cycles', '2cdk', '2cdk_cycles', 'incremental', 'pm', 'rm', 'rm_dup' ]
      - groupName: 'xts'
        displayName: 'Extended Tracking Satellites'
        subGroups: [ 'main', 'incremental' ]
      - groupName: 'pit'
        displayName: 'Point-In-Time Tables'
        subGroups: [ 'main', '1sat_base', '1sat_inc', '2sat' ]
      - groupName: 'bridge'
        displayName: 'Bridge Tables'
        subGroups: [ 'inc', '1link', '2link', '3link' ]
      - groupName: 'cycle'
        displayName: 'Load Cycles'
