[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.1"
mkdocs-material = "==4.4.2"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-minify-plugin = "==0.2.3"
pygments = "==2.6.1"
pymdown-extensions = "==6.3"

[requires]
python_version = "3.6"
